@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
  color: white;
}

:root{
  --color-back:rgba( 37, 15, 204, 0.1 );
  --box-shadow:0 8px 32px 0 gba( 31, 38, 135, 0.37 );
  --border:1px solid rgba( 255, 255, 255, 0.18 );
  --blur:blur(2px);
  --color-scroll:rgb(69, 4, 135) rgb(0, 117, 128);
  --height-logo:3rem
}
img{
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: 5px;
}


/*---------------------------- fond d'écran -------------------------------*/

body{
  background: url(images/espace.jpg);
  background-position: 100%;
  height: auto;
}

h2{
  margin-bottom: 1rem;
}

/* ---------------------------------bar de nav------------------------------- */

#header{
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 1rem;
  border-radius: 5px;
  background: var(--color-back);
  box-shadow: var(--box-shadow);
  backdrop-filter: var(--blur);
  -webkit-backdrop-filter: var(--blur);
  border: var(--border);
}

.menu{
  font-size: 1.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 4.2rem;
}

ul li {
  list-style: none;
}

a{
  text-decoration: none;
}

.sous-menu{
  display: none;
}
.menu:hover{
  cursor: pointer;
}

.menu:hover .sous-menu{
  cursor: pointer;
  display: inline-block;
  transform: translateX(0.5rem);
}


.logo img{
  border-style: none;
  height: var(--height-logo);
}
.logo:hover{
  cursor: pointer;
}

/*------------------------------titre---------------------------------*/

.titre{
  text-align: center;
  margin-top: 3rem;
}
h1{
  font-size: 2.5rem;
}


/*------------------------ section de milieu de page--------------------- */

#middle{
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

/* -------------------------------milieu gauche ---------------------------*/

.article-js{
  width: 15%;
  height: 31.25rem;
  border-radius: 5px;
  background: var(--color-back);
  box-shadow: var(--box-shadow);
  backdrop-filter: var(--blur);
  -webkit-backdrop-filter: var(--blur);
  border: var(--border);
  justify-content: center;
  padding: 1rem;
}
.scroller-a{
  width: auto;
  height: 80%;
  overflow-y: scroll;
  scrollbar-color: var(--color-scroll);
  scrollbar-width: thin;
}

p{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/*--------------------------- milieu de page-------------------------- */

.carousel{
  width: 60%;
  height: 31.25rem;
  border-radius: 5px;
  background:var(--color-back);
  box-shadow: var(--box-shadow);
  backdrop-filter: var(--blur);
  -webkit-backdrop-filter: var(--blur);
  border: var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  background-image: url(images/nebuleuse\ de\ la\ carene.jpg);
  background-image: cover;
  background-repeat:no-repeat;
  background-size:contain;
}


/* ----------------------------milieu droite ------------------------------*/

.article-static{
  width: 15%;
  height: 31.25rem;
  border-radius: 5px;
  background: var(--color-back);
  box-shadow: var(--box-shadow);
  backdrop-filter: var(--blur);
  -webkit-backdrop-filter: var(--blur);
  border: var(--border);
  justify-content: center;
  padding: 1rem;
}
.scroller-b{
  width: auto;
  height: 15.625rem;
  overflow-y: scroll;
  scrollbar-color: var(--color-scroll);
  scrollbar-width: thin;
}

.telescope{
  padding-top: 1rem;
  width:100%;
}

/*-------------------galerie---------------------*/

.gal-a{
  width: 100%;
  height: 31.25rem;
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
  
}

.orion{
  text-align: center;
  width: 33rem;
}

.chariot{
  text-align: center;
  width: 33rem;
}

.gal-b{
  width: 100%;
  height: 31.25rem;
  display: flex;
  justify-content: center;
  margin-top: 20rem;
}

.galm74{
  text-align: center;
  width: 47rem;
}


.gal-c{
  width: 100%;
  height: 31.25rem;
  display: flex;
  justify-content: space-around;
  margin-top: 20rem;
}

.austral{
  text-align: center;
  width: 33rem;
}
.jup{
  text-align: center;
  width: 33rem;
}

.gal-d{
  width: 100%;
  height: 31.25rem;
  display: flex;
  justify-content: space-around;
  margin-top: 20rem;
}

.globule{
  text-align: center;
  width: 33rem;
}
.quinte{
  text-align: center;
  width: 33rem;
}

.gal-e{
  width: 100%;
  height: 31.25rem;
  display: flex;
  justify-content: center;
  margin-top: 20rem;
}

.carene{
  text-align: center;
  width: 55rem;
}

.gal-f{
  width: 100%;
  height: 31.25rem;
  display: flex;
  justify-content: center;
  margin-top: 20rem;
}

.tarentule{
  text-align: center;
  width: 55rem;
}

/* ------------------bas de la page --------------------*/


.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  padding: 1.5rem;
  border-radius: 5px;
  background: var(--color-back);
  box-shadow: var(--box-shadow);
  backdrop-filter: var(--blur);
  -webkit-backdrop-filter: var(--blur);
  border: var(--border);
  margin-top: 15rem;
}

.liens{
  cursor: pointer;
  
}

.liens img{
  border-style: none;
  padding-right: 3rem;
  height: var(--height-logo);
}

/*------------------------------media query----------------------------------*/

@media screen and (max-width: 600px) {
    #middle{
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
    }
    .article-static{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0.5rem;
    }
    .telescope{
      width: auto;
      height: 20rem;
    }

    .carousel{
      width: 100%;
      height: 21rem;
    }

    .article-js{
      width: 100%;
      height: 20rem;
      padding: 0.5rem;
    }

    #galerie{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 30rem;
    }

    .gal-a{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 8rem;
    }

    .orion p{
      padding: 1.5rem;
    }

    .chariot{
      padding-top: 2rem;
    }

    .chariot p{
      padding: 1.5rem;
    }
    .gal-b{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 43rem;
    }
    .galm74 p{
      padding: 0.5rem 8rem 0.5rem 8rem;
    }

    .gal-c{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 45rem;
    }

    .austral p {
      padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    }

    .jup{
      padding-top: 3rem;
    }
    .jup p{
      padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    }

    .gal-d{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 45rem;
    }

    .globule p{
      padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    }
    .quinte{
      padding-top: 3rem;
    }
    
    .quinte p{
      padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    }

    .gal-e{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 43rem;
    }

    .carene p{
      padding: 0.5rem 12rem 0.5rem 12rem;
    }

    .gal-f{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 47rem;
    }

    .tarentule p{
      padding: 0.5rem 12rem 0.5rem 12rem;
    }

}